logs
postgres-data
.dockerignore
docker-compose.yml
Dockerfile
create.py
.vscode
migrations
secure-connect
admin.db
confusion_matrix.png
connect_database.py
full_img.jpg
handsign1.h5
package-lock.json
test_images
test_labels 
val_images
val_labels



